<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" role="heading">
  <span>Sotetsu Lab.</span>
</mat-toolbar>
<main class="container">

  <router-outlet></router-outlet>

</main>

<mat-toolbar>
  <span class="example-fill-remaining-space"></span>
  <span><small><a routerLink="/Management">管理画面</a></small></span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<mat-toolbar>
  <span class="example-fill-remaining-space"></span>
  <span><small>©2018 Sotetsu Lab. All Rights Reserved.</small></span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
